{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="ad-wrapper">

    <!-- SIDEBAR -->
    <aside class="ad-sidebar">
        <h2 class="ad-logo">Admin Panel</h2>

        <ul class="ad-nav">
            <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'book_list' %}">Books</a></li>
            <li><a href="{% url 'category_list' %}">Categories</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </aside>

    <!-- MAIN CONTENT -->
  
    <main class="ad-main">
        {% block content %}
        {% endblock %}
    </main>

</div>


</body>
</html>