{% extends 'accounts/admin_base.html' %}

{% block title %}Books (Admin){% endblock %}

{% block content %}

<div class="adbk-wrapper">

    <!-- HEADER -->
    <div class="adbk-header">
        <h2>Books</h2>
    </div>

    <!-- ACTION -->
    <div class="adbk-action">
        <a href="{% url 'add_book' %}" class="adbk-btn-primary">
            + Add Book
        </a>
    </div>

    <!-- TABLE -->
    <div class="adbk-table-wrap">

        <table class="adbk-table">

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Available</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.category.category_name }}</td>
                    <td>{{ book.quantity }}</td>
                    <td>{{ book.available_quantity }}</td>
                    <td>
                        <a href="{% url 'update_book' book.id %}" class="adbk-btn-edit">Edit</a>
                        <a href="{% url 'delete_book' book.id %}" class="adbk-btn-delete">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">No books available</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

</div>

{% endblock %}